window#osd {
  border-radius: 10px;
  border: 2px solid rgba(102, 102, 102, 0.5);
  background-color: #161616;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 12px;
}
  #container {
    margin: 10px;
  }

  image {
    padding: -5px;
    margin: 0px;
  }

  image,
  label {
    color: #cccccc;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 10px;
    background: transparent;
    border: none;
  }
  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(102, 102, 102, 0.8);
  }
  progress,
  segment.active {
    min-height: inherit;
    min-width: 6px;
    border-radius: inherit;
    border: none;
    background: #cccccc;
  }

  segment {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }

