#window {
    background-color: #111111;
    color: #CCCCCC;
    border-radius: 10px;
    border: 2px solid rgba(102, 102, 102, 0.5);
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 16px;
}
#input {
    background-color: #222222;
    border: none;
    border: 2px solid rgba(102, 102, 102, 0.5);
    padding: 0.8rem 1rem;
    border-radius: 10px 10px 0 0;
}
#input:focus, #input:focus-visible, #input:active {
    background-color: #222222;
}
#inner-box {
    border-radius: 10px;
}
#outer-box {
    border-radius: 10px;
}
#scroll {
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
#entry {
    background-color: #111111;
    padding: 0.6rem 1rem;
}
#entry:selected {
    background-color: #222222;
    border-radius: 10px;
}
#text:selected {
    color: #FFA000;
}
