* {
    color: #cccccc;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 15.5px;
    border-radius: 10px;
    min-height: 0;
}

/* ==========================================================
   BAR
   ========================================================== */

#waybar {
    background: transparent;
}

#waybar > box {
    background: rgba(17, 17, 17, 0.95);
    margin: 7px 7px 4px;
    box-shadow: 0 0 2px 2px rgba(17, 17, 17, .8);
}

/* ==========================================================
   MODULE GROUPS
   ========================================================== */

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

/* ==========================================================
   DEFAULT MODULE STYLE
   ========================================================== */

#tray,
#cpu,
#memory,
#disk,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-menu,
#custom-update,
#custom-expand-icon,
#custom-screenrecording-indicator,
#custom-voxtype,
#idle_inhibitor,
#power-profiles-daemon {

    padding: 0 8px;
    margin: 0 1px;
    min-width: 16px;
}

#disk {
  margin-top: 2px;
}

/* ==========================================================
   WORKSPACES
   ========================================================== */

#workspaces button {
    all: initial;
    min-width: 16px;
    padding: 0 4px;
    margin: 0 1px;
}

#workspaces button.empty {
    opacity: .4;
}

/* ==========================================================
   TRAY
   ========================================================== */

#tray {
    padding: 0 8px;
}

#tray > * {
    padding: 0 8px;
    margin: 0;
}

.tray-group-item {
    padding: 0;
}

/* ==========================================================
   SMALL EXCEPTIONS
   ========================================================== */

#custom-menu {
    margin-right: 8px;
}

#clock {
    margin-left: 8px;
}

#custom-screenrecording-indicator {
    margin-left: 8px;
}

#custom-voxtype {
    margin-left: 8px;
}

/* ==========================================================
   STATUS COLORS
   ========================================================== */

#custom-screenrecording-indicator.active,
#custom-voxtype.recording {
    color: #a55555;
}

#battery.warning {
    color: #d68000;
}

#battery.critical {
    color: #d60000;
}

/* ==========================================================
   TOOLTIPS
   ========================================================== */

tooltip {
    background: rgba(17, 17, 17, .95);
    border: 2px solid #222222;
    box-shadow: 0 0 2px 2px rgba(17,17,17,.8);
}

tooltip label {
    padding: 2px;
    background: transparent;
}

/* ==========================================================
   HIDDEN
   ========================================================== */

.hidden {
    opacity: 0;
}
